body {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
s code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* font-family: 'Roboto Slab', serif; */
/* ! admin page */
.admin-page {
  /* position: absolute; */
  margin-top: -5.4%;
  top: 0;
  background: url("https://prod-network-images.wbagora.com/network/account-wbgames-com/games/mortalkombat-com-mk1/mortalkombat-com-mk1-background.jpg");
  background-size: cover;
  width: 100vw;
  height: 101vh;
}
.qwe {
  position: absolute;
  left: 25%;
  top: 25%;
}
.admin-page-inp {
  background-color: aliceblue;
  opacity: 0.8;
  margin-bottom: 2%;
  border-radius: 10px;
}
.admin-page-title {
  opacity: 0.8;
  font-weight: 700;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
}
.admin-page-btn {
  border: none;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  width: 30%;
  margin: 20px 16rem;
  font-size: 20px;
  padding: 15px;
}

/* ! admin page */
/* ! card page */
.cardList-page {
  position: absolute;
  top: 0;
  background: url("https://cdn-mk1.mortalkombat.com/purchase/purchase-page-bg-1600.jpg");
  background-size: cover;
  width: 100vw;
}
.cards {
  background: url("https://cdn-mk1.mortalkombat.com/static/smoke-center.webp");
}
/*  */
.notFoundPage {
  background: url("https://steamuserimages-a.akamaihd.net/ugc/787478092106377965/22C5CC103A4563C9BC9755B5CA5F27B78C90A2F3/");
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}
.notFoundContent {
  position: absolute;
  top: 25%;
  left: 40%;
  text-align: center;
}
.notFoundTitle {
  position: absolute;
  top: 48%;
  left: 34.5%;
  text-align: center;
}
/*  */
.category-block {
  background: none;
}
/*  */
.pagination {
  position: absolute;
  font-size: 20px;
  top: 75%;
  left: 45%;
}
.card-list-block {
  position: relative;
}
